@using PaginationTest.Models;
@model  List<Product>
@{
    ViewBag.Title = "ProductList";
}

<h2>ProductList</h2>

<table class="table table-bordered table-striped" cellspacing="0">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Tag</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            if (!product.IsDisabled)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>
                        <ul>
                            @foreach (var category in @product.Categories)
                            {
                                <li>@category.Name</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul>
                            @foreach (var tag in @product.Tags)
                            {
                                <li>@tag</li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

